/* Toggle switch styles */

/* The switch - the box around the slider */
.switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Dark mode styles */
.dark-mode {
  background-color: #0a0a0f;
}
.navbar.dark-mode {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  border: 1px solid #0a0a0f;
}
.dark-mode .footer-bottom {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.dark-mode .card-2, .dark-mode .card-3{
  color: #ffffff;
}
.dark-mode .card-2 input {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.dark-mode .card-2 textarea{
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.dark-mode #standard-button {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.dark-mode #book-button {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.dark-mode #expand-button{
  color: #C14D97 ;
}
.dark-mode .wrapper .title-text {
  color: #ffffff;
}
.dark-mode form .btn .btn-layer {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.dark-mode .slide-controls .slider-tab{
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
}
.dark-mode .slide-controls label.signup {
  color: #fff;
}
.dark-mode .wrapper .slide-controls {
  border: 1px solid rgba(255, 255, 255, 0.15)
}
.dark-mode .form-inner form .field input {
  border: 1px solid rgba(255, 255, 255, 0.15)
}
.dark-mode .form-inner form .signup-link {
  color: #ffffff;
}
.dark-mode .form-inner form .signup-link a {
  color: #C14D97;
}
.dark-mode .form-inner form .pass-link a {
  color: #C14D97;
}