@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fafcfe;
  color: #0a0a0f;
  font-weight: bold;
}

/* Nav */

.header {
  margin: 10px;

}

.navbar {
  background-image: linear-gradient(180deg, #3eb075, #69bf70);
  border-radius: 15px;
  padding: 5px;
}

.navbar-toggle {
  background-color: #f6f8fc;
  border-radius: 15px;
  border: none;
}

.icon-bar {
  background-color: none;
  border: 1px solid #0a0a0f;
}

.navbar-brand {
  background-color: none;
  color: #f6f8fc;
}

.scroll-link {
  color: #ffffff;
}

.scroll-top {
  color: #0a0a0f;
}

.link {
  color: #ffffff;
}

/* Nav */

/*body*/
h1 {
  text-align: center;
  font-weight: bold;
}

h4 {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

p {
  text-align: justify;
}

.card-1 {
  background: none;
  color: #0a0a0f;
  border-radius: 15px;
  margin: 10px;

}

.card-2 {
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: #0a0a0f;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-3 {
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: #0a0a0f;
  border-radius: 15px;
  font-weight: normal;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-3 h5 {
  font-weight: bold;
  text-align: left;
}

.card-3 h6 {
  font-weight: bold;
  text-align: left;
}

.card-3 ul {
  text-align: justify;
}
.card-2 li {
  text-align: left;
}

.card-2 input,
textarea {
  background: rgba(255, 255, 255, 0.15);
  color: #0a0a0f;
  border-radius: 15px;
  margin: 5px auto;
  outline: none;
  border: 1px solid lightgrey;
  padding: 10px 10px;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card-2 input::placeholder,
textarea::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

#standard-button {
  background-image: linear-gradient(180deg, #3eb075, #69bf70);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}

.card-title-and-pay {
  display: flex;
  justify-content: space-between;
}

#bio-text {
  text-align: left;
  max-height: 3em;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

#bio-text.truncated {
  max-height: none;
}

#expand-button {
  font-size: 0.8em;
  background: none;
  border: none;
  color: #3eb075;
  cursor: pointer;
}
.bookbtn{
  background: none;
  text-align: center;
  margin: 10px;

}
#book-button {
  width: 100%;
  text-align: center;
  font-size: 17px;
  background-image: linear-gradient(180deg, #3eb075, #69bf70);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/*Login/Signup*/

.wrapper {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #3eb075, #69bf70);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login {
  color: #000;
}

#login:checked~label.signup {
  color: #000;
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  background: rgba(255, 255, 255, 0.15);
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .pass-link a {
  color: #3eb075;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .signup-link a {
  color: #3eb075;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background-image: linear-gradient(180deg, #3eb075, #69bf70);
  border-radius: 15px;
  transition: all 0.4s ease;
}

/*Login/Signup*/




/*body*/

/*Footer*/

.footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(180deg, #3eb075, #69bf70);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.free {
  margin: 30px;
}

/*Footer*/